.navbar {
    margin-bottom: 0px;
}

.full_page_width {
    padding-right: 0px;
    padding-left: 0px;
}

.col-md-6 {
    z-index: 1;
}


.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;    
}

/*
.text-box1 {
    position: absolute;
    top: 15%;
    left: 20%;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    font-weight: 300;
    color: rgba(44, 62, 80,1.0);
    text-shadow: 2px;
    z-index: 1;
}

.text-box2 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    font-weight: 200;
    color: rgba(44, 62, 80,1.0);
    text-shadow: 1px;
    z-index: 1;
}

.buttons {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
}