.navbar {
    margin-bottom: 0px;
}

.page {
    padding-right: 0px;
    padding-left: 0px;
}

.buttons {
    position:absolute;
    margin: auto;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;    
}

/*
.company_name h1 {
    position:absolute;
    text-shadow: 2px;
    font-size: 8em;
    color: White;
}

.slogan h2 {
    position:absolute;
    text-shadow: 1px;
    font-size: 3em;
    color: grey;
} 